<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}" >
    <title>歡迎光臨</title>
</head>
<body>
    <header>歡迎光臨，請輸入帳號密碼</header>
    <main>
        <div class="topic">登入系統</div>
        <form action="/signin" method="post" enctype="application/x-www-form-urlencoded" id="log_in">  
            <div class="account_area">
                <label>帳號
                    <input type="text" name="username">
                </label>
            </div>
            <div>
                <label>密碼
                    <input type="password" name="password">
                </label>
            </div>
            <div class="agree_term_area">
                <label>同意條款
                    <input type="checkbox" name="agree" value="agree"  id="checkbox">
                </label>
            </div>
            <button type="submit">登入</button>
        </form>
    </main>
    <script>
        let log_in=document.querySelector("#log_in")
        let checkbox=document.querySelector("#checkbox")

        function check_agree(event){     // 此函式目的：拿來阻止使用者在沒勾同意條款前就送出表單
            if (!checkbox.checked){
                alert("請勾選同意條款");
                event.preventDefault(); 
            }
        }
        log_in.addEventListener("submit",check_agree)
    </script>
</body>
</html>
