<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/styles.css') }}" >
    <title>歡迎光臨</title>
</head>
<body>
    <header>歡迎光臨，請註冊登入系統</header>

    <main>
       
        <div class="topic">註冊帳號</div>

        <form action="/signup" method="post" id="signup" class="form_area"> 

            <label class="space_area">姓名
                <input type="text" name="name" class="signup_content">
            </label>
            <label class="space_area">帳號
                <input type="text" name="username" class="signup_content"> 
            </label>
            <label class="space_area">密碼
                <input type="password" name="password" class="signup_content"> 
            </label>
            <button type="submit">註冊</button>

        </form>

        <hr/>

        <div class="topic">登入系統</div>

        <form action="/signin" method="post" id="signin" class="form_area">

            <label class="space_area">帳號
                <input type="text" name="username" class="signin_content">
            </label>
            <label class="space_area">密碼
                <input type="password" name="password" class="signin_content">
            </label>
            <button type="submit">登入</button>

        </form>
       
    </main>

    <script>
        let signup=document.querySelector("#signup");
        let signup_contents=document.querySelectorAll(".signup_content");

        let signin=document.querySelector("#signin");
        let signin_contents=document.querySelectorAll(".signin_content");



        function check_signup(event){
            //檢查那三個欄位是否都有輸入內容
            //如果有沒有輸入內容的，就警告＋中斷預設行為

            let isEmpty=false; //判斷是否有空欄位的基準
            signup_contents.forEach(
                (content)=>{
                    if (content.value ===''){
                        isEmpty=true //一但有空欄位，就將基準轉換為true
                    }}
            );

            if(isEmpty){
                alert("所有註冊欄位皆需輸入內容");
                event.preventDefault();
            }
        }


        function check_signin(event){
            let isEmpty=false;
            signin_contents.forEach(
                (content)=>{
                    if (content.value ===''){
                        isEmpty=true
                    }
                }
            );
            
            if(isEmpty){
                alert("所有登入欄位皆需輸入內容");
                event.preventDefault();
            }
        }

        signup.addEventListener("submit",check_signup);
        signin.addEventListener("submit",check_signin);
        

    </script>



</body>
</html>