body{
    margin: 0px;
}

.toparea,.complete,.goast{
    width: 100%;
    height: 100vh;
}


.toparea{
    position: relative;
}

.complete{ 
    position: absolute;
    z-index: -1;
    display: block;
}

.goast{
    position: absolute;
    z-index: 1; 
}

.myname{
    position: absolute;
    top:-120px;
    width: 100%;
    font-size: 100px;
    font-weight:bold;
    color:rgb(250, 142, 40); 
    -webkit-text-stroke: 3px #fff;
    text-align:center;
}

.layout{
    background-color:rgba(250, 141, 40, 0.633) ;
    padding:40px 20px;
    max-width: 100%;
}


.contentborder{
    background-color: rgb(255, 247, 237);
    border-radius: 20px;  
    padding: 20px 0px;  
    display: flex;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.content{
    width: 90%;
    line-height:30px;
}

.title{
    font-weight: bold;
    font-size: 20px;
    color: rgba(0, 8, 19, 0.867);
    cursor: pointer;
}

i{
    font-size: 13px;
    opacity: 0.5;
    transform: rotate(0deg);
    transition: transform 0.3s;
}


.contentarea{
    display: none;
}

.btnarea{
    display:flex;
}

.btn{
    display: block;
    width: 102px;
    padding: 5px 6px;
    margin-right: 13px;
    background-color: rgba(37, 117, 215, 0.872);
    border-radius: 10px;
   
    color:white ;
    cursor:pointer;
}

.btn:hover{
    background-color: rgba(255, 132, 44, 0.872)
}

.blueborder{
    font-weight: bold;
    border: 3px solid #66b8ff;
    border-radius: 20px;
    padding: 2px 7px;
}

.solution{
    line-height:30px;
    padding-left: 18px;
    margin:0px 0px 9px 0px;
}
.dontgiveup{
    color: rgb(213, 23, 23);
}

@media(max-width:1200px){

.toparea,.complete{
    position: static;
    height: auto;
}

.goast{
    left: 0px;
    top: 0px;
    height: auto;
}

.myname{
    font-size: 60px;
}
}

@media(max-width:500px){
.myname{
    font-size: 30px;
    -webkit-text-stroke: 1px #fff; 
}
.btnarea{
    flex-wrap:wrap;
}
.btn{
    margin-top: 10px;
}
}

  

