body{
    margin: 0px;
}

.toparea,.complete,.goast{
    width: 100%;
    height: 100vh;
}


.toparea{
    position: relative;
}

.complete{ 
    position: absolute;
    z-index: -1;
    display: block;
}

.goast{
    position: absolute;
    z-index: 1; 
}

.myname{
    position: absolute;
    top:-120px;
    width: 100%;
    font-size: 100px;
    font-weight:bold;
    color:rgb(250, 142, 40); 
    -webkit-text-stroke: 3px #fff;
    text-align:center;
}

.layout{
    background-color:rgba(250, 141, 40, 0.633) ;
    padding:40px 20px;
    max-width: 100%;
}

.contentborder1,.contentborder2{
    background-color: rgb(255, 247, 237);
    border-radius: 20px;  
    padding: 20px 0px;  
    display: flex;
    justify-content:center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.contentborder2{
    margin-top: 30px;
}

.content{
    flex:none;
    width: 45%;
    line-height:30px;
}

.separateline{
    flex:none;
    width: 3%;
}

.bottomarea{
    text-align: center;
    width: 93% ;
}

.title{
    font-weight: bold;
    font-size: 17px;
    text-decoration: underline rgba(255, 119, 0, 0.569) 4px;
}

.blueborder{
    font-weight: bold;
    border: 3px solid rgb(102, 184, 255);
    border-radius: 20px;
    padding: 2px 7px;
}

.ul{
    line-height:30px;
}
    

@media(max-width:1200px){

.toparea,.complete{
    position: static;
    height: auto;
}

.goast{
    left: 0px;
    top: 0px;
    height: auto;
}

.myname{
    font-size: 60px;
}
    
.contentborder1{
    flex-wrap:wrap;
}
.content{
    width: 90%;
}
.separateline{
    width: 0%;
}
.bottomarea{
    text-align: left;
}
}


@media(max-width:500px){
.myname{
    font-size: 30px;
    -webkit-text-stroke: 1px #fff; 
}
}

  

